# --- AI Feature Configuration ---
# Get your free Gemini API key at(may need to connect to VPN): https://aistudio.google.com/app/apikey
# Paste your OWN API key below!! Default to use gemini-2.5-flash
# More details on README.md

GEMINI_API_KEY=APIkey