.content {
    padding: 10px;
}

/* .sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 150px; 
} */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-tag {
  background-color: #f0f0f0;
  padding: 4px 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
}